body {
    margin: 60px auto;
    width: 70%;
    font-family: 'Abel', sans-serif;
    background-color: lightgray;
}

nav ul, footer ul {
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: none;
    color: white;
}

p {
    font-size: 1em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

img {
    height: 300px;
    border-radius: 50%;
    float: right;
}

.project-img {
    height: 300px;
}

.typewriter {
    font-family: 'Lobster Two', cursive;
}